body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/images/black.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}
h1{
    font-size: 120px;
    color: goldenrod;
}
p{
    font-size: 50px;
}
button{
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    background: yellowgreen;
    border-radius: 4px;
    font-size: 20px;
    border: none;
    color: #016f32;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
#message-el{
    font: italic;
}